{# templates/admin/issue_detail.html.twig #}

{% extends ea.templatePath('layout') %}

{% block content_title %}
    {%- apply spaceless -%}
        <h1>{{ entity.title }}</h1>
    {%- endapply -%}
{% endblock %}

{% block page_actions %}
    {% for action in actions %}
        {{ include(action.templatePath, { action: action }, with_context = false) }}
    {% endfor %}
{% endblock %}

{% block main %}
    <p><span>Description: </span>{{ entity.description }}</p>
    <p><span>Priority: </span>{{ entity.priority }}</p>

    <h3>Comments</h3>
    <div class="comments">
        {% for comment in comments %}
            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}
    </div>

    {{ form(commentForm) }}
{% endblock %}